* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #212529;
  font-family: Lato, SF Pro, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #593d3b;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*=============
MOBILE NAVBAR
===============*/
header {
  position: relative;
  z-index: 5;
  background-color: #c3a995;
}

.navbar {
  padding: 15px 0;
}
.navbar__div--hideformobile {
  display: none;
}
.navbar__img {
  width: 50px;
  filter: invert(100%);
}
.navbar__li {
  border-bottom: 1px solid #ced4da;
}
.navbar__li a {
  color: #343a40;
}
.navbar__li a:hover {
  color: #000000;
}
.navbar__li .nav-link.active {
  color: #000000;
}
.navbar__collapse {
  padding-top: 10px;
}
.navbar__toggler {
  width: 35px;
  height: 20px;
  position: relative;
}
.navbar__toggler, .navbar__toggler:focus, .navbar__toggler:active, .navbar__togglericon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}
.navbar__togglericon {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: linear-gradient(90deg, #343a40 0%, #212529 100%);
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.navbar .top__bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}
.navbar .mid__bar {
  margin-top: 0px;
  top: 10px;
}
.navbar .bot__bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/*=============
DESKTOP NAVBAR
===============*/
@media (min-width: 990px) {
  /*===Desktop-specific adjustments===*/
  .navbar {
    padding: 5px 50px 15px 50px;
    /*===li + img paddings===*/
  }
  .navbar__li {
    padding: 0 5px;
    border-bottom: none;
  }
  .navbar__img {
    padding: 0 5px;
    box-sizing: content-box;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(75%);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(75%);
  }
}
.section .pp-tableCell {
  display: block;
}

.introcontent {
  background-color: #c3a995;
}
.introcontent__h1 {
  text-align: center;
  padding: 15px 0 0 0;
  font-size: 2em;
  font-weight: 700;
}
.introcontent__h2 {
  text-align: center;
  font-size: 1.25em;
  padding: 0 0 15px 0;
  font-weight: 300;
}
.introcontent__arrowdown {
  padding: 80px 0 0 0;
  animation: 1.5s ease-in 0s 1 slideUp;
  animation-iteration-count: infinite;
  filter: invert(100%);
}
.introcontent__img {
  border-radius: 50%;
}

.secondsection {
  background-color: #ab947e;
}
.secondsection__h2 {
  text-align: center;
  padding-top: 20px;
}

.thirdsection {
  background-color: #8a7968;
}
.thirdsection__h2 {
  text-align: center;
  padding-top: 20px;
}

@media (min-height: 800px) {
  .introcontent__arrowdown {
    padding: 160px 0 0 0;
    animation: 1.5s ease-in 0s 1 slideUp;
    animation-iteration-count: infinite;
  }
}

/*# sourceMappingURL=styles.css.map */
