//=================================
//  HEADER/NAVIGATION BAR ADJUSTMENTS
//=================================
// The navbar is made with Boostrap but there will be some adjustments required for optimal functionality.

// @use calls
@use '../abstracts/' as *;

/*=============
MOBILE NAVBAR
===============*/
//Placing the navbar on top of the pagePiling sections
header {
  position: relative;
  z-index: 5;
  background-color: $khaki;
}

.navbar {
  //Additional padding for the navbar
  padding: 15px 0;

  //Hiding part of the navbar which is intended for desktop view only.
  &__div--hideformobile {
    display: none;
  }

  //Adjusting image
  &__img {
    width: 50px;
    filter: invert(100%);
  }

  //Border bottom for the navbar LIs in mobile view only
  &__li {
    border-bottom: 1px solid $french-grey;

    // Overriding bootstrap default colors to my palette
    a {
      color: $onyx;
    }
    a:hover {
      color: $full-black;
    }
    .nav-link.active {
      color: $full-black;
    }
  }

  // Added padding to the collapsed menu
  &__collapse {
    padding-top: 10px;
  }

  //Start of custom design of the toggler on mobile.
  //Fixed size and relative positioning of the toggler
  &__toggler {
    width: 35px;
    height: 20px;
    position: relative;
  }

  //Removing border, outline, and shadow on the toggler and its different states, also reinforces the position relative.
  &__toggler,
  &__toggler:focus,
  &__toggler:active,
  &__togglericon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
  }

  //Design of the toggler icon, this is meant as an override of Bootstrap's default button, hopefully it will be an X to close soon.
  &__togglericon {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: linear-gradient(90deg, $onyx 0%, $eerie-black 100%);
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  .top__bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
  }

  .mid__bar {
    margin-top: 0px;
    top: 10px;
  }

  .bot__bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
  }
}

/*=============
DESKTOP NAVBAR
===============*/
@media (min-width: 990px) {
  /*===Desktop-specific adjustments===*/
  .navbar {
    padding: 5px 50px 15px 50px;
    /*===li + img paddings===*/
    &__li {
      padding: 0 5px;
      border-bottom: none;
    }
    &__img {
      padding: 0 5px;
      box-sizing: content-box;
    }
  }
}
