//
//=================================
//      	  Colours
//=================================
//This will be divided into palettes, and they will go from light to darker colors in each palette.
//

//
//===================
//  Palette 1: White to black
//===================
//
$true-white: #ffffff;
$seasalt: #f8f9fa;
$antiflash-white: #e9ecef;
$platinum: #dee2e6;
$french-grey: #ced4da;
$french-grey-2: #adb5bd;
$slate-gray: #6c757d;
$outer-space: #495057;
$onyx: #343a40;
$eerie-black: #212529;
$full-black: #000000;

//
//===================
//  Palette 2: Brown-ish?
//===================
//
$khaki: #c3a995;
$beaver: #ab947e;
$umber: #6f5e53;
$beaver-2: #8a7968;
$rose-ebony: #593d3b;