//=================================
//  Mixins
//=================================

//===================
// Font family + Font weight test
//===================
@mixin font-family-light {
  font-family: -apple-system, Roboto, Oxygen, Ubuntu, "Open Sans",
    "Helvetica Neue", system-ui, "Segoe UI", sans-serif;
  font-weight: 200;
}

@mixin font-family-regular {
  font-family: -apple-system, Roboto, Oxygen, Ubuntu, "Open Sans",
    "Helvetica Neue", system-ui, "Segoe UI", sans-serif;
  font-weight: 400;
}

@mixin font-family-bold {
  font-family: -apple-system, Roboto, Oxygen, Ubuntu, "Open Sans",
    "Helvetica Neue", system-ui, "Segoe UI", sans-serif;
  font-weight: 700;
}

//===================
//Keyframes
//===================

//KEYFRAMES SLIDE UP
@mixin keyframe-slide-up {
  @keyframes slideUp {
    0% {
      transform: translateY(75%);
    }
    75% {
      transform: translateY(0);
    }
    100% {
        transform: translateY(75%);
      }
  }
}

//===================
//Animations
//===================

//ANIMATION SLIDE UP
@mixin animation-slide-up {
  animation: 1.5s ease-in 0s 1 slideUp;
  animation-iteration-count: infinite;
}
