body {
  font-family: 'PlayfairDisplay', sans-serif;
}

h1 {
  font-family: 'PlayfairDisplay', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'PlayfairDisplay', sans-serif;
  font-weight: 400;
}